html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("./Material/furniture-store-7319318.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 51, 128);
    color: white;
    animation-name: header-anim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
header h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5rem;
}
#header-nav {
    height: 50px;
    background-color: rgb(0, 51, 128);
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#nav-bar {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    order: 2;
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 1px;
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    color: white;
}
a:hover {
    color: yellow;
}
#logo-font {
    font-family: 'Neonderthaw', cursive;
}
#name-middle {
    margin-left: 36.5%;
    margin-top: 15%;
    position: absolute;
    display: block;
    color: white;
    order: 1;
    font-family: 'Abril Fatface', cursive;
    font-size: 170%;
    letter-spacing: 3.5px;
}
@keyframes header-anim {
    0% {
        height: 0;
        color: transparent;
    }
    25% {
        color: white;
    }
    50% {
        height: 83.875px;
        color: white;
    }
    75% {
        color: transparent;
    }
    100% {
        height: 0;
        color: transparent;
    }
}
@keyframes nav-bar-anim {
    0% {
        height: 0;
        color: transparent;
    }
    25% {
        height: 0;
        color: transparent;
    }
    50% {
        height: 0;
        color: transparent;
    }
    75% {
        height: 0;
        color: transparent;
    }
    80% {
        height: 0;
        color: transparent;
    }
    85% {

    }
    90% {

    }
    100% {
        color: white;
    }
}