html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 51, 128);
    color: white;
    animation-name: header-anim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    order: 1;
}
header h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5rem;
}
#header-nav {
    height: 50px;
    background-color: gray;
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#nav-bar {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    order: 2;
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: transparent;
    animation-name: nav-bar-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}
@keyframes header-anim {
    0% {
        height: 0;
        color: transparent;
    }
    25% {
        color: white;
    }
    50% {
        height: 83.875px;
        color: white;
    }
    75% {
        color: transparent;
    }
    100% {
        height: 0;
        color: transparent;
    }
}
@keyframes nav-bar-anim {
    0% {
        height: 0;
        color: transparent;
    }
    25% {
        height: 0;
        color: transparent;
    }
    50% {
        height: 0;
        color: transparent;
    }
    75% {
        height: 0;
        color: transparent;
    }
    80% {
        height: 0;
        color: transparent;
    }
    85% {

    }
    90% {

    }
    100% {
        color: white;
    }
}