html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 51, 128);
    color: white;
    animation-name: header-anim;
    animation-duration: 2s;
}
header h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5rem;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
@keyframes header-anim {
    0% {
        height: 0;
    }
    50% {
        height: 83.875px;
    }
    100% {
        height: 0;
    }
}